<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.epoch.dao.BookDao">
    <resultMap id="bookResultMap" type="com.epoch.domain.BookInfo">
        <result property="id" column="id"/>
        <result property="title" column="bookTitle"/>
        <result property="description" column="description"/>
        <result property="author" column="author"/>
        <result property="publishingHouse" column="publishingHouse"/>
        <result property="bookId" column="book_id"/>
    </resultMap>
    <insert id="addBookInfo">
        INSERT INTO tb_book (bookTitle, description, author, publishingHouse,book_id)
        VALUES (#{title}, #{description}, #{author}, #{publishingHouse},#{bookId})
    </insert>
    <update id="updateBookInfo">
        UPDATE tb_book
        SET bookTitle       = #{title},
            description     = #{description},
            author          = #{author},
            publishingHouse = #{publishingHouse}
        WHERE id = #{id}
    </update>
    <delete id="deleteBookInfo" parameterType="integer">
        DELETE
        FROM tb_book
        WHERE id = #{id}
    </delete>
    <!--  查询所有图书  -->
    <select id="findAll" resultMap="bookResultMap">
        select id, bookTitle, description, author, publishingHouse,book_id from tb_book
    </select>
    <select id="findById" resultMap="bookResultMap">
        select id, bookTitle, description, author, publishingHouse,book_id from tb_book where id=#{id}
    </select>
</mapper>